<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBooks - World No.1 Book Store</title>
</head>
<body>
    before
    <br>
        <%- body %>
    <br>
    after
    
</body>
</html>